/* Add a black background color to the top navigation */
.navigation {
  background-color: #222222;
  overflow: hidden;
  font-family: Helvetica, sans-serif;
}

/* Style the links inside the navigation bar */
.navigation a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navigation a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.navigation a.active {
  background-color: gray;
  color: white;
}

.navigation a.light-dark-mode {
  display: flex;
  background-color: darkslateblue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  /*display: inline-block;*/
  font-size: 16px;
  margin-left: auto;
  margin-right: 0;
  z-index: initial;
}

.site-name {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  background-color: darkslateblue;
  color: white;
  width: 25%;
  padding: 5px;
  font-family: Helvetica, sans-serif;
  border-bottom-style: hidden;
  border-bottom-width: 10px;
}

.subtitle, .video {
  flex-direction: column;
  text-align: center;
  color: white;
  width: 80%;
  font-family: Helvetica, sans-serif;
  border-bottom-style: solid;
  border-bottom-color: #615D8B;
  border-bottom-width: 2px;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text, .comments {
  text-align: left;
  font-family: Helvetica, sans-serif;
  padding: 20px 100px;
  font-size: large;
}

.nyuad {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

body {
  background-color: #333333;
  color: #cccccc;
  font-family: Helvetica, sans-serif;
}

.light-mode {
  background-color: #cccccc;
  color: #000000;
  font-family: Helvetica, sans-serif;
}

/*.light-mode-title {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  text-align: center;*/
/*  margin: auto;*/
/*  background-color: darkslateblue;*/
/*  color: white;*/
/*  width: 25%;*/
/*  padding: 5px;*/
/*  font-family: Helvetica, sans-serif;*/
/*  border-bottom-style: solid;*/
/*  border-bottom-color: #cccccc;*/
/*  border-bottom-width: 10px;*/
/*}*/

/*.light-mode-subtitle {*/
/*  flex-direction: column;*/
/*  text-align: center;*/
/*  color: #000000;*/
/*  width: 80%;*/
/*  font-family: Helvetica, sans-serif;*/
/*  border-bottom-style: solid;*/
/*  border-bottom-color: #615D8B;*/
/*  border-bottom-width: 2px;*/
/*  margin-bottom: 10px;*/
/*  display: block;*/
/*  margin-left: auto;*/
/*  margin-right: auto;*/
/*}*/

